* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Verdana;
    background-color: rgb(253, 246, 255);
    color: rgb(51, 51, 51);
  }
  
  main {
    min-height: calc(100vh - 200px);
  }

  .icon {
    margin-right: 5px;
  }

  .navbar {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgb(214, 171, 255), rgb(120, 187, 255));
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .nav-links a {
    padding: 20px;
    margin-left: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border-radius: 8px;
  }
  
  .nav-links a.active {
    color: rgb(165, 78, 223);
  }

  .nav-links a:hover {
    color: rgb(165, 78, 223);
    background-color: rgb(233, 233, 233);
  }

  .hover-icon {
    display: none;
  }
  
  .nav-links a:hover .default-icon {
    display: none;
  }

  .nav-links a:hover .hover-icon {
    display: inline;
  }

  .register-button {
    background-color: rgb(240, 227, 255) !important;
    color: rgb(132, 55, 204) !important;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  footer {
    background-color: #f0e1ff;
    color: #4c0066;
    padding: 25px;
    font-size: 14px;
  }
  
  .footer-container {
    display: flex;
  }
  
  .footer-section {
    flex: 1 1 200px;
  }
  
  .footer-section h3,
  .footer-section h4 {
    margin-bottom: 10px;
    color: #7d2db0;
  }
  
  .footer-section ul {
    list-style: none;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section a {
    color: #8437cc;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }